body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero,
.footer,
body {
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero{
    color: #E5E7EB;
    font-size: 18px;
    padding-bottom: 70px;
}
.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0;
}

.hero {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.hero-content-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero-content-2 {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    gap: 380px;
    align-items: center;
}
.links {
    display: flex;
    gap: 20px;
}
.hero-content-sub {
    width: 320px;
}
button {
    background-color: #3882F6;
    width: 120px;
    height: 40px;
    color: #E5E7EB;
    border-radius: 6%;
    border: 0;
    font-weight: bold;
}
.image img {
    width: auto;
    height: 300px;
    margin-top: 60px;
}

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    gap: 10px;
    margin-bottom: 80px;
}
.cards {
    display: flex;
    gap: 50px;
}
.section-1-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-card {
    height: 230px;
    width: auto;
    border: 5px #3882F6 solid;
    border-radius: 5%;
}

.section-2 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}
.section-2-container {
    width: 700px;
    display: flex;
    flex-direction: column;
    padding: 80px;
}
.author {
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
}
.section-3 {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 50px;
    color: white;
}
.box {
    background-color: #3882F6;
    padding: 40px;
    width: 1100px;
    display: flex;
    justify-content: center;
    gap: 330px;
    border-radius: 1%;
}
.box button {
    color: white;
    border: 2px solid white;
    border-radius: 5%;
    align-self: center;
}
.action {
    font-size: 25px;
    font-weight: bold;
}
.footer {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 21px;
    padding: 8px;
}